<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">

    <style>
        body{
            background-color: #edeff2;
        }
		
		#mainForm{
	width:100%;
	height:100%;
	margin-right:auto;
	margin-left:auto;
	padding-left:500px;
	padding-top:30px;
	
}
    </style>
<script>

	function returnToPreviousPage() {
    someBug()
	return false;
}



	function compare()
{
    var startDt = document.getElementById("arrival").value;
    var endDt = document.getElementById("depart").value;

    if( (new Date(startDt).getTime() > new Date(endDt).getTime()))
    {
        alert("not allowed");
		event.preventDefault();
		//return false;
		
    }
	
}


</script>
	
	<title>Book Cottage</title>
	<div id ="header">
	<h1>Booking</h1>
	</div>
</head>

<body>
	
<div id = "content">
	<div id = "mainForm">	
		<h4>Booking form</h4>
		<form action = "booking" method = "post" name="form" onsubmit="return compare();"/><br>
		Name<input type = "text" name="name" required/><br><br>
		Email<input type = "text"name = "email"required/><br>
		Date Arrival<input type="date" name="arrival" placeholder="dd-mm-yyyy" id="arrival" required/>
		Depart<input type="date" name="depart" placeholder="dd-mm-yyyy" id="depart"/ required><br>
		<input type = "submit" value="Submit"/>
		</form>
</div>
</div>

</body>
</html>


